{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [
        {src_dirs, ["src", "test", "gen/src", "gen/test"]},
        {deps, [
            {gleam_jsone, "0.2.0"}
        ]}
    ]}
]}.

{project_plugins, [rebar_gleam]}.

{deps, [
    {gleam_http, {git, "https://github.com/midas-framework/http", {ref, "03aafa2f0928562ea829cf8eaebb8e0c457e30c4"}}},
    {jsone, "1.5.2"}
]}.
